body {
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 600px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .form-box {
    text-align: left;
  }
  
  .logo img {
    width: 120px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
  }
  
  p {
    font-size: 14px;
    color: #5f6368;
  }
  
  form {
    margin-top: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 12px;
    color: #5f6368;
    margin-bottom: 5px;
  }
  
  .input-group input {
    padding: 10px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    background-color: #712616;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #291411;
  }
  
  /* Responsive Design */
  @media (max-width: 480px) {
    .container {
      padding: 15px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    button {
      font-size: 12px;
      padding: 8px;
    }
  }
  